section #template{
  flex-direction: row;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}

img{
 width:250px;
height: 150px;
}

div{
  margin-bottom: 2em;
  width:350px;
  box-sizing: border-box;
  text-align: center; 
  background-color: none;
  justify-content: center;
}

#photo-template {
  margin-top:80px;
  flex-direction: row;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  }
  
#keywordSelect {
    margin-left: 45%;
  }
